:root,
:root[data-theme='dark'] {
  --foreground-color: #fafafa;
  --background-color: #0a0a0a;
}

:root[data-theme='light'] {
  --foreground-color: #0a0a0a;
  --background-color: #fafafa;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}
